@import "tailwindcss";

/* container */
@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 120px;
  }
}

/* fonts */
@theme {
  --font-poppins: Poppins, sans-serif;
  --font-sansita: Sansita Swashed, sans-serif;
  --font-inter: Inter, sans-serif;
}

/* background img */
@theme{
  --background-image-banner : url('./assets/banner.png');
  --background-image-offer: url('./assets/offer.png')
}

/* font color */
@theme{
  --color-yelo: #E9BD8C
}